<h1>Это страница пользователя <br><strong><%= @user.name %></strong></h1>
<h5>Вы можете написать ему на email 
	<a href="mailto:<%= @user.email %>"><%= @user.email %></a>
	<br>
	<br>
	<%= link_to "Удалить пользователя", @user, method: :delete, class: "delete_user" %> | 
	<%= link_to "Создать событие", new_event_path, class: "delete_user" %> | 
	
	<%= link_to "Другие пользователи", users_path, class: "delete_user" %>
</h5>

<% if @user.created_events.exists? %>
<div class="container">
	<div class="row">
		<h3 class="col-md-8 col-md-offset-2 col-xs-12">События пользователя:</h3>
		<% events = @user.created_events.order(date: :desc) %>
		<% events.each do |event| %>
			<div class="col-md-8 col-md-offset-2 col-xs-12 event
		<%= "upcoming_event" if event.date > Time.now %>
			">
				<strong><%= event.name %></strong> at <%= event.date %>
			</div>
		<% end %>

<% else %>
		<h3 class="col-md-8 col-md-offset-2 col-xs-12">У пользователя нет событий</h3>

	</div>
</div>
<% end %>