<h1>Это страница события <br><strong><%= @event.name %></strong></h1>
<% if @event.creator %>
	<h5>Создатель - <strong><%= link_to @event.creator.name, @event.creator %></strong>
<% end %>
	<br>
	<br>
	<%= link_to "Создать свое событие", new_event_path, class: "delete_user" %> 
	
	<% if current_user == @event.creator %>
	| 
	
	<%= form_tag("/invite", method: "post", class: "invite") do %>
		<%= hidden_field_tag :id, @event.id %>
		<%= select_tag :name, options_for_select(@users) %>			
		<%= submit_tag "Пригласить!", id: @event.id, class: "delete_user" %>
	<% end %>
	<% end %>

</h5>

<% if @event.attendees.exists? %>
<div class="container">
	<div class="row">
		<h3 class="col-md-8 col-md-offset-2 col-xs-12">Участники события:</h3>
		<% if @event.creator %>
		<div class="col-md-8 col-md-offset-2 col-xs-12 event upcoming_event">
			<strong><%= link_to @event.creator.name, @event.creator %></strong>
		</div>
		<% end %>
		<% attendees = @event.attendees %>
		<% attendees.each do |user| %>
			<% unless user == @event.creator %>
			<div class="col-md-8 col-md-offset-2 col-xs-12 event">
				<strong><%= link_to user.name, user %></strong>
			</div>
			<% end %>
		<% end %>

<% else %>
		<h3 class="col-md-8 col-md-offset-2 col-xs-12">В событии пока никто не участвует</h3>

	</div>
</div>
<% end %>